@charset "UTF-8";
/*Обнулення*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

li::marker {
  content: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
}

#root {
  min-height: 100%;
  overflow: hidden;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-body {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box {
  width: 520px;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 0 7px 0px #000;
          box-shadow: 0 0 7px 0px #000;
  padding: 10px;
  background-color: #f9f9f9;
}

.title-box {
  font-size: 40px;
  line-height: 48px;
  color: #808080;
}

.dayry-app {
  -webkit-box-flex: 0;
      -ms-flex: 0 16.666667%;
          flex: 0 16.666667%;
  background-color: #2b2f3e;
  margin-left: 15px;
  padding: 15px;
}

.dayry-app-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.dayry-app-title {
  font-size: 32px;
  line-height: 38px;
  color: #fff;
  text-transform: uppercase;
}

.dayry-app-comment {
  font-size: 16px;
  line-height: 25px;
  color: #5b5d63;
}

.todo-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.333333%;
          flex: 0 0 83.333333%;
}

.todo-container {
  margin-top: 30px;
  margin-left: 30px;
}

.todo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
}

.input {
  border: 1px solid #babec3;
  border-radius: 4px;
  width: 390px;
  padding: 10px 10px;
}

.button-add {
  background-color: #17a2b8;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
}
.button-add:hover {
  background-color: #11899b;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.todo-list {
  margin-top: 10px;
}

.todo-list li.active {
  border-left: 2px solid red;
}

.todo-item.active {
  border-left: 2px solid red;
}

.todo-item {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 20px;
  border: 1px solid #d8dadc;
  border-radius: 4px;
}

.todo-text {
  font-size: 16px;
}

.btn-delete {
  background-color: #fff;
  color: #dc3545;
  border: 1px solid #dc3545;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 16px;
}
.btn-delete:hover {
  color: #fff;
  background-color: #dc3545;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.todo-box-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.todo-comment-length {
  background-color: #14a2b8;
  border-radius: 50%;
  padding: 2px 5px;
  color: #fff;
  font-weight: 600;
}

.comments-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.result-color {
  width: 50px;
  height: 50px;
}

.result-body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.result-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.result-item {
  background-color: #fff;
  width: 100%;
  padding: 5px 0 0 5px;
  height: 50px;
}

.comments-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-comments {
  background-color: #017bfe;
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 16px;
}
.btn-comments:hover {
  background-color: #0166d2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.input-color {
  border: 1px solid #cfc9c9;
  background: white;
  padding: 5px;
  width: 60px;
  height: 60px;
  border-radius: 4px;
}

.textarea {
  border: 1px solid #cfc9c9;
  padding: 5px;
  border-radius: 4px;
}